
/*--------------------------------------------------------------------------------------*/
table.Filling{
	border-right		: 1px solid black;
	border-bottom		: 1px solid red;
	width				: 100%;}
	
table.Filling tr{
	vertical-align		: middle;}
	
table.Filling tr th{
	border-top			: 1px solid black;
	border-left			: 1px solid black;
	vertical-align		: middle;
	text-align			: center;
	font-size			: 14px;
	background-color		: #C0C0C0;}
	
table.Filling th nobr{
	width				: 100%;
	text-align			: center;
	vertical-align		: middle;}

table.Filling td{
	border-top			: 1px solid black;
	border-left			: 1px solid black;
	vertical-align		: middle;
	height				: 14px;}
		
table.Filling tr td input{
	border				: 0;
	height: 20px;}	

	